<h1>History Component</h1>
<p>The history of banking dates back to ancient Mesopotamia, with modern systems emerging
    in 14th-century Italy.The history of banking stretches back to ancient civilizations, 
    where grain loans and temple-based lending laid the groundwork for modern finance. 
    Banking as we know it began in Renaissance Italy, with families like the Medicis 
    establishing institutions that offered deposit, lending, and currency exchange services. 
    Over centuries, banking evolved through innovations like fractional-reserve systems, 
    central banks, and digital finance. Today’s global banking infrastructure is the 
    result of centuries of adaptation to economic, political, and technological shifts
</p>
