<h1>Welcome to Angular</h1>
<p>Tarushi's First Angular App</p>

<div>
  <h2> First Name:{{FirstName}} </h2 >
  <h2> Last Name: {{LastName}}</h2 >
  <h2> Age: {{Age}}</h2 >
  <h2> Gender:{{Gender}} </h2 >
  <h2> Email: {{Email}}</h2 >


<!-- <ul>
  <li *ngFor="let h of hobbies">{{h}}</li>
</ul> -->
<select>
  <option *ngFor = "let h of hobbies">{{h}}</option>
</select>

<span *ngFor ="let h of hobbies" >{{h}}
<input type = "checkbox">
</span>

<button (click) = "greetUser()">Greet User</button>
<button (click) = "addhobby(('Skating'))">Add Hobby</button>
</div>